{{#if products}}
  <h2 style="text-align: center;">Review your cart</h2>
  <br />
  <div class="row checkOut">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <ul class="list-group">
        {{#each products}}

          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >

            <p><b>{{this.item.name}}</b></p>
            <p><b>${{this.price}}</b></p>

            <div class=" d-flex justify-content-evenly" style="width: 30%;">
              {{! this one will delete one  }}
              <div>
                <form
                  action="/cart/{{this.item._id}}/delete-an-item"
                  method="post"
                >
                  <button class="button4"><i
                      class="fa-solid fa-minus"
                    ></i></button>
                </form>
              </div>

              <div >Qty: {{this.qty}}</div>
              
              {{! this one will add one  }}
              <div>
                <form
                  action="/cart/{{this.item._id}}/add-an-item"
                  method="post"
                >
                  <button class="button4"><i
                      class="fa-solid fa-plus"
                    ></i></button>
                </form>
              </div>
            </div>

            <div class="btn-group">

              {{! this button deletes everything  }}
              <form
                action="/cart/{{this.item._id}}/delete-all-items"
                method="post"
              >
                <button class="button4"><i class="fa-solid fa-trash">
                  </i>Delete all</button>
              </form>

            </div>

          </li>

        {{/each}}
      </ul>

    </div>
  </div>

  <div class="row checkOut">
    <div class="col-sm-6 col-md-6 text-center">
      <br />

      <strong>Total: ${{totalPrice}}</strong>
    </div>
  </div>

  <br />
  <div class="row text-center checkOut">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <a href="/checkOut" type="button" class="btn button">Check out</a>
    </div>
  </div>

{{else}}
  <div class="empty">
    <br />

    <h2>Your Cart is empty</h2>
    <br />

    <img
      src="https://appstickers-cdn.appadvice.com/1513454005/835962965/54d2ee4561e8827f8a8f0b23437a4e27-5.png"
      alt="img"
    />
    <br />
    <a href="/product" class="button2">Start shopping here!</a>

  </div>

{{/if}}