<div>
<a href="/product" style=" text-decoration: none; color:black"><i
    class="fa-regular fa-circle-left"
  ></i>
  Go back to products</a>
  </div>


<h1 class="title">Our meal plans</h1>

<br />
<br />

{{#each foundProduct}}
  <div class="products">
    <div class="productInside">
      <img src="{{imageURL}}" alt="img" class="productImg" />
      <br />
      <br />

      <div>
        <h3>{{name}}</h3>
        <br />
        <p>{{description}}</p>
        <br />
        <p>{{menuType}}</p>
        <br>
        <h4>${{price}}</h4>
        <br />
        <a href="/cart/add-to-cart/{{this._id}}" class="button2">Select this
          plan</a>

      </div>
    </div>
  </div>
{{/each}}

