<h1 class="title">Craving killers</h1>

<br />
<br />

{{#each foundProduct}}
  <div class="products">

    <img src="{{imageURL}}" alt="img" class="productImg" />
    <br />
    <br />

    <div>
      <h3>{{name}}</h3>
      <br />
      <p>{{description}}</p>
      <br />
      <h4>${{price}}</h4>
      <br />
      <a href="/cart/add-to-cart/{{this._id}}" class="button2">Select this plan</a>

    </div>

  </div>
{{/each}}